@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../fonts/Roboto/Roboto-Regular.ttf');
}

.quote {
    font-family: 'Roboto-Regular';
    font-size: 18px;
    text-align: center;
    letter-spacing: 0px;
    color: #777777;
    opacity: 0.9;
    line-height: 32px;
    white-space: pre-wrap;
}
