@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../fonts/Roboto/Roboto-Regular.ttf');
}

.main-button {
    /* Button */
    background: #D4B254 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000033;
    border-radius: 30px;
    border: 0;
    padding: 20px 60px;

    /* Text */
    font-family: 'Roboto-Regular';
    text-align: center;
    letter-spacing: 3px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.main-button:hover {
    background: #C8A74B 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 5px #00000040;
}